@using MotelRoomOnline.Utilities
@model MotelRoomOnline.Models.PostComment
@{
    ViewData["Title"] = "Xem thông tin";
    Account account = ViewBag.Account;
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4>Thông tin bình luận</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Quản lý bình luận</li>
                        <li class="breadcrumb-item active">Chi tiết bình luận</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Họ tên</label>
                                        <input type="text" class="form-control" value="@account.FullName">
                                    </div>
                                    <div class="form-group">
                                        <label>Tên tài khoản</label>
                                        <input type="text" class="form-control" value="@account.AccountName">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group justify-content-center">
                                        <label style="margin-bottom:100px"></label>
                                        <img src="@account.Avatar" style="width:120px; height:120px; margin-left:120px; border:2px solid #ccc; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <input type="text" class="form-control" value="@account.Phone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" value="@account.Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control" value="@account.Address">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Giới tính</label>
                                        @if (account.Gender == true)
                                        {
                                            <input type="text" class="form-control" value="Nam">
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control" value="Nữ">
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ngày sinh</label>
                                        <input type="text" class="form-control" value="@account.DOB.Value.ToString("dd/MM/yyyy")">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Content">Bình luận</label>
                                <textarea class="form-control mb-3" asp-for="Content" style=" height: 100px"></textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="javascript:history.back()" class="btn btn-warning"><i class="fa-solid fa-rotate-left" style="color:white" title="Quay lại"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/admin/assets/plugins/jquery/jquery.min.js"></script>


