@model IEnumerable<MotelRoomOnline.Models.ViewModels.DashboardViewModel>

@{
    ViewData["Title"] = "Trang chủ";
    var userCount = ViewBag.UserCount;
    var motelCount = ViewBag.MotelCount;
    var postCount = ViewBag.PostCount;
    var contractCount = ViewBag.ContractCount;
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Thống kê, báo cáo</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Chủ trọ</a></li>
                        <li class="breadcrumb-item active">Trang chủ</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@motelCount</h3>
                            <p>Phòng trọ quản lý</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="/Landlord/Room" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@postCount</h3>
                            <p>Bài viết đã đăng</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-newspaper" style="font-size:70px"></i>
                        </div>
                        <a href="/Landlord/Post" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-warning">
                        <div class="inner text-white">
                            <h3>@userCount</h3>
                            <p>Khách hàng thuê trọ</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="/Landlord/Customer/" class="small-box-footer"><span style="color:white">Chi tiết <i class="fas fa-arrow-circle-right"></i></span></a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@contractCount</h3>
                            <p>Hợp đồng đang thuê</p>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-file-contract" style="font-size:70px"></i>
                        </div>
                        <a href="/Landlord/Contract" class="small-box-footer">Chi tiết <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Doanh thu theo trọ</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="example-table-2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ảnh</th>
                                        <th>Tên trọ</th>
                                        <th>Tổng thu</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody id="showdata">
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var room in Model)
                                    {
                                        <tr>
                                            <td>@(i++)</td>
                                            <td><img src="@room.Image" style="width:80px; height:60px" /></td>
                                            <td>@room.RoomName</td>
                                            <td>@room.TotalRevenue.ToString("N0") đ</td>
                                            <td>
                                                <a class="btn btn-info btn-sm btn-view-invoices" data-room-id="@room.RoomId" data-room-name="@room.RoomName" data-toggle="modal" data-target="#modal-xl">
                                                    <i class="fa-regular fa-eye"></i>
                                                </a>
                                                <a class="btn btn-sm btn-success" style="padding-left:10px; padding-right: 10px" data-id="@room.RoomId" id="exportRoomInvoice">
                                                    <i class="fa-regular fa-file-excel" title="Xuất file excel"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>                           
                        </div>
                    </div>
                    <div class="modal fade" id="modal-xl">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 id="title-room" class="modal-title text-info"></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table id="example-table-3" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Ảnh</th>
                                                <th>Khách thuê</th>
                                                <th>CCCD</th>
                                                <th>Số điện thoại</th>
                                                <th>Tháng ở</th>
                                                <th>Thành tiền</th>
                                                <th>Xem</th>
                                            </tr>
                                        </thead>
                                        <tbody>                                           
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modal-lg" style="z-index: 1051">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-info" id="rental-detail-title"></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table id="example-table-4" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tên dịch vụ</th>
                                                <th>Đơn giá</th>
                                                <th>Số lượng dùng</th>
                                                <th>Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>                                       
                                    </table>
                                    <div class="form-group row mt-2">
                                        <label class="col-sm-2 col-form-label">Tiền phòng</label>
                                        <div class="col-sm-10">
                                            <span class="form-control-plaintext text-success text-bold" id="room-price-display"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row mt-2">
                                        <label class="col-sm-2 col-form-label">Tổng tiền</label>
                                        <div class="col-sm-10">
                                            <span class="form-control-plaintext text-success text-bold" id="rental-total-display"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Doanh thu theo trọ</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="pieChart" style="min-height: 314px; height: 314px; max-height: 314px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Doanh thu theo tháng</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="areaChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Doanh thu theo khách hàng</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="donutChart" style="min-height: 354px; height: 354px; max-height: 354px; max-width: 100%;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Doanh thu theo khách hàng</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table id="example-table-5" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ảnh</th>
                                        <th>Tên khách hàng</th>
                                        <th>CCCD</th>
                                        <th>Tổng thu</th>
                                        <th>Chi tiết</th>
                                    </tr>
                                </thead>
                                <tbody>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal fade" id="modal-xl1">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 id="title-cus" class="modal-title text-info"></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table id="example-table-6" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Ảnh trọ</th>
                                                <th>Tên trọ</th>
                                                <th>Địa chỉ</th>
                                                <th>Tháng ở</th>
                                                <th>Thành tiền</th>
                                                <th>Xem</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="col-md-12">                   
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Lượt thuê theo tháng</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="barChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/admin/assets/plugins/jquery/jquery.min.js"></script>
<script>
    $('body').on('click', '#exportRoomInvoice', function () {
        var roomId = $(this).data('id');
        window.location.href = "/Landlord/ExportExcel/ExportInvoiceRoom?roomId=" + roomId;
    });

    $('body').on('click', '#exportCusInvoice', function () {
        var cusId = $(this).data('id');
        window.location.href = "/Landlord/ExportExcel/ExportInvoiceCus?cusId=" + cusId;
    });
</script>
<script>
    $(document).on('click', '.btn-view-invoices', function () {
        var roomId = $(this).data('room-id');
        var roomName = $(this).data('room-name');
        $('#title-room').text(roomName);
        $.ajax({
            url: '/Landlord/Home/GetRoomInvoices',
            type: 'GET',
            data: { roomId: roomId },
            success: function (response) {
                var table = $('#example-table-3').DataTable();
                table.clear();

                response.data.forEach(function (item, index) {
                    var startDate = new Date(item.rentalMonth.startDate).toLocaleDateString('vi-VN');
                    var endDate = new Date(item.rentalMonth.endDate).toLocaleDateString('vi-VN');
                    table.row.add([
                        index + 1,
                        `<img src="${item.customer.avatar}" style="width:60px; height:60px" />`,
                        item.customer.fullName,
                        item.customer.code,
                        item.customer.phone,
                        `Từ ${startDate} đến ${endDate}`,
                        `${item.invoice.totalAmount.toLocaleString()} đ`,
                        '<a class="btn btn-info btn-sm btn-rental-detail" data-toggle="modal" data-target="#modal-lg" data-rental-month-id="' + item.rentalMonth.rentalMonthId + '"> \
                            <i class="fa-regular fa-eye"></i>\
                        </a>'
                    ]).draw(false);
                });
                $('#modal-xl').modal('show');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Lỗi:', textStatus, errorThrown);                
            }
        });
    });

    $(document).on('click', '.btn-rental-detail', function () {
        var rentalMonthId = $(this).data('rental-month-id');
        $.ajax({
            url: '/Landlord/Home/GetInvoiceDetails',
            type: 'GET',
            data: { rentalMonthId: rentalMonthId },
            success: function (response) {
                var table = $('#example-table-4').DataTable();
                table.clear();
                response.data.forEach(function (service, index) {
                    var startDate = new Date(service.start).toLocaleDateString('vi-VN');
                    var endDate = new Date(service.end).toLocaleDateString('vi-VN');
                    $('#rental-detail-title').text(`Chi tiết hóa đơn từ ${startDate} đến ${endDate}`);
                    $('#room-price-display').text(service.roomPrice.toLocaleString() + ' đ');
                    $('#rental-total-display').text(service.amount.toLocaleString() + ' đ');
                    table.row.add([
                        index + 1,
                        service.name,
                        service.price.toLocaleString() + ' đ',
                        service.quantity,
                        service.total.toLocaleString() + ' đ',
                        service.roomPrice.toLocaleString() + ' đ'
                    ]);
                });
                table.draw();
                $('#modal-lg').modal('show');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Lỗi:', textStatus, errorThrown);
                console.error('Chi tiết lỗi:', jqXHR.responseText);
            }

        });
    });

</script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Landlord/Home/GetTopCustomers',
            type: 'GET',
            success: function (response) {
                var table = $('#example-table-5').DataTable();
                table.clear();
                response.data.forEach(function (customer, index) {
                    table.row.add([
                        index + 1,
                        customer.avt ? `<img src="${customer.avt}" style="width:80px; height:80px" />` : '',
                        customer.name,
                        customer.cccd,
                        customer.totalRevenue.toLocaleString() + ' đ',          
                        `<a class="btn btn-info btn-sm btn-view-cus" data-toggle="modal" data-target="#modal-xl1" data-cus-id="${customer.cusId}">
                            <i class="fa-regular fa-eye" title="Xem lịch sử thuê khách hàng"></i>
                        </a>
                        <a class="btn btn-sm btn-success" style="padding-left:10px; padding-right:10px;" data-id="${customer.cusId}" id="exportCusInvoice">
                            <i class="fa-regular fa-file-excel" title="Xuất file excel"></i>
                        </a>`
                    ]);
                });
                table.draw();
            },
            error: function (xhr, status, error) {
                console.error("Có lỗi xảy ra:", error);
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Landlord/Home/GetTopCustomers',
            type: 'GET',
            success: function (response) {
                var customers = response.data5;
                var labels = [];
                var data = [];

                customers.forEach(function (customer) {
                    labels.push(`${customer.name} (${customer.cccd})`);
                    data.push(customer.totalRevenue);
                });

                var donutChartCanvas = $('#donutChart').get(0).getContext('2d');
                var donutData = {
                    labels: labels,
                    datasets: [{
                        data: data,
                        backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc']
                    }]
                };

                var donutOptions = {
                    maintainAspectRatio: false,
                    responsive: true,
                };

                new Chart(donutChartCanvas, {
                    type: 'doughnut',
                    data: donutData,
                    options: donutOptions
                });
            },
            error: function (xhr, status, error) {
                console.error("Có lỗi xảy ra:", error);
            }
        });
    });

    $(document).on('click', '.btn-view-cus', function () {
        var cusId = $(this).data('cus-id');
        $.ajax({
            url: '/Landlord/Home/GetCusInvoices',
            type: 'GET',
            data: { cusId: cusId },
            success: function (response) {
                var table = $('#example-table-6').DataTable();
                table.clear();
                $('#title-cus').text('Lịch sử thuê của khách hàng ' + response.data[0].cus.fullName + ' (' + response.data[0].cus.code + ')');
                response.data.forEach(function (item, index) {
                    var startDate = new Date(item.rentalMonth.startDate).toLocaleDateString('vi-VN');
                    var endDate = new Date(item.rentalMonth.endDate).toLocaleDateString('vi-VN');
                    table.row.add([
                        index + 1,
                        `<img src="${item.room.image}" style="width:80px; height:60px" />`,
                        item.room.roomName,
                        item.room.address,
                        `Từ ${startDate} đến ${endDate}`,
                        `${item.invoice.totalAmount.toLocaleString()} đ`,
                        `<a class="btn btn-info btn-sm btn-rental-detail" data-toggle="modal" data-target="#modal-lg" data-rental-month-id="${item.rentalMonth.rentalMonthId}">
                            <i class="fa-regular fa-eye"></i>
                        </a>`
                    ]).draw(false);
                });
                table.columns(0).header().to$().css("width", "5%");
                table.columns(1).header().to$().css("width", "10%");
                table.columns(2).header().to$().css("width", "30%");
                table.columns(3).header().to$().css("width", "27%");
                table.columns(4).header().to$().css("width", "13%");
                table.columns(5).header().to$().css("width", "25%");
                table.columns(6).header().to$().css("width", "10%");
                $('#modal-xl2').modal('show');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Lỗi:', textStatus, errorThrown);
            }
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Landlord/Home/GetMonthlyCustomerCount',
            type: 'GET',
            success: function (data) {
                var labels = [];
                var rentalCounts = [];
                for (var month = 1; month <= 12; month++) {
                    labels.push('Tháng ' + month);
                    var monthData = data.data.find(item => item.month === month);
                    rentalCounts.push(monthData ? monthData.totalRentalMonths : 0);
                }
                var barChartCanvas = $('#barChart').get(0).getContext('2d');

                var barChartData = {
                    labels: labels,
                    datasets: [{
                        label: 'Số lượt thuê',
                        backgroundColor: '#00a65a',
                        borderColor: '#00a65a',
                        borderWidth: 1,
                        data: rentalCounts,
                    }]
                };

                var barChartOptions = {
                    maintainAspectRatio: false,
                    responsive: true,
                    legend: {
                        display: true
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                display: true,
                            },
                            ticks: {
                                beginAtZero: true
                            },
                            barPercentage: 0.7,
                        }],
                        yAxes: [{
                            gridLines: {
                                display: true,
                            },
                            ticks: {
                                beginAtZero: true,
                                callback: function (value) {
                                    if (Number.isInteger(value)) {
                                        return value;
                                    }
                                }
                            }
                        }]
                    }
                };

                new Chart(barChartCanvas, {
                    type: 'bar',
                    data: barChartData,
                    options: barChartOptions
                });
            },

            error: function (xhr, status, error) {
                console.error('Error fetching data:', error);
            }
        });
    });
</script>
<script>
    $(function () {

        //-------------
        //- AREA CHART -
        //-------------
        var statistics = @Html.Raw(ViewBag.Statistics);
        var labels = statistics.map(function (item) {
            return 'Tháng ' + item.Month;
        });

        var data = statistics.map(function (item) {
            return item.TotalAmount;
        });
        var areaChartCanvas = $('#areaChart').get(0).getContext('2d');

        var areaChartData = {
            labels: labels,
            datasets: [
                {
                    label: 'Doanh thu theo tháng',
                    backgroundColor: 'rgba(60,141,188,0.9)',
                    borderColor: 'rgba(60,141,188,0.8)',
                    pointRadius: false,
                    pointColor: '#3b8bba',
                    pointStrokeColor: 'rgba(60,141,188,1)',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data: data
                },
            ]
        }

        var areaChartOptions = {
            maintainAspectRatio: false,
            responsive: true,
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        display: true,
                    }
                }],
                yAxes: [{
                    gridLines: {
                        display: true,
                    }
                }]
            },
            tooltips: {
                mode: 'index', 
                intersect: false,
                callbacks: {
                    label: function (tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label || '';
                        var value = tooltipItem.yLabel;
                        if (label) {
                            label += ': ';
                        }
                        label += value.toLocaleString() + ' đ';
                        return label;
                    }
                }
            }
        }
        new Chart(areaChartCanvas, {
            type: 'line',
            data: areaChartData,
            options: areaChartOptions
        })

        //-------------
        //- PIE CHART -
        //-------------
        var topRoomsData = @Html.Raw(ViewBag.TopRooms);
        var roomLabels = [];
        var roomData = [];

        topRoomsData.forEach(function (room) {
            roomLabels.push(room.RoomName);
            roomData.push(room.TotalRevenue);
        });

        var pieChartCanvas = $('#pieChart').get(0).getContext('2d');
        var pieData = {
            labels: roomLabels,
            datasets: [{
                data: roomData,
                backgroundColor: [
                    '#ff6384',
                    '#36a2eb',
                    '#ffce56',
                    '#ff9f40',
                    '#cc65fe'
                ],
                hoverOffset: 4
            }]
        };

        var pieOptions = {
            maintainAspectRatio: false,
            responsive: true,
        };

        new Chart(pieChartCanvas, {
            type: 'pie',
            data: pieData,
            options: pieOptions
        });
    })
</script>