@using MotelRoomOnline.Utilities
@using MotelRoomOnline.Models.ViewModels
@model PostListViewModel

@{
    ViewData["Title"] = "Bài viết";
    List<Account> accountList = ViewBag.Account;
    int currentPage = Model.PagingInfo.CurrentPage;
}

<style>
    .text-view {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
    <div class="container" style="margin-top:50px">
        <div class="row">
            <div class="blog-asside-right col-md-3" style="margin-top:20px">
                <div class="panel panel-default sidebar-menu wow  fadeInRight animated">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tìm kiếm</h3>
                    </div>
                    <div class="panel-body">
                        <form role="search">
                            <div class="input-group">
                                <input class="form-control" placeholder="Nhập thông tin..." type="text">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-smal">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                @await Component.InvokeAsync("PostNew")

                @await Component.InvokeAsync("RoomNew")

                <div class="panel sidebar-menu wow  fadeInRight animated">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tags</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="tag-cloud">
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> html5</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> css3</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> jquery</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> ajax</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> php</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> responsive</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> visio</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tags"></i> bootstrap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="blog-lst col-md-9">
                @foreach(var items in Model.Posts)
                {
                    var sUrl = $"/bai-viet/{items.Alias}-{items.PostId}.html";
                    var account = accountList.FirstOrDefault(a => a.AccountId == items.AccountId);
                    <section class="post">
                        <div class="text-center padding-b-50">
                            <h4 class="wow fadeInLeft animated text-view" style="margin-bottom:20px">@items.PostTitle</h4>
                            <div class="title-line wow fadeInRight animated"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="author-category">
                                    Đăng bởi <a href="@sUrl">@items.CreatedBy</a>
                                </p>
                            </div>
                            <div class="col-sm-6 right">
                                <p class="date-comments">
                                    <a href="@sUrl"><i class="fa fa-calendar-o"></i> @items.CreatedDate.Value.ToString("dd/MM/yyyy")</a>
                                    <a href="@sUrl"><i class="fa fa-comment-o"></i> 8 Bình luận</a>
                                </p>
                            </div>
                        </div>
                        <div class="image wow fadeInLeft animated">
                            <a href="@sUrl">
                                <img src="@items.PostImage" class="img-responsive" alt="Example blog post alt" style="height:500px">
                            </a>
                        </div>
                        <p class="intro">@items.Abstract</p>
                        <p class="read-more">
                            <a href="@sUrl" class="btn btn-default btn-border">Đọc tiếp</a>
                        </p>
                    </section>
                }
                <div class="col-md-12">
                    <div class="pull-right">
                        <div class="pagination">
                            <ul>
                                <li><a href="/Post/?page=@(Math.Max(currentPage - 1, 1))">Trước</a></li>
                                @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
                                {
                                    <li><a href="/Post/?page=@(i)">@i</a></li>
                                    if (i == Model.PagingInfo.TotalPages)
                                    {
                                        currentPage = i - 1;
                                    }
                                }                                
                                <li><a href="/Post/?page=@(currentPage + 1)">Sau</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>