@using MotelRoomOnline.Utilities
@model MotelRoomOnline.Models.Room

@{
    ViewData["Title"] = "Chi tiết";
    Account account = ViewBag.Account;
    List<RoomImage> imgList = ViewBag.Image;
    List<Room> related = ViewBag.RelatedMotel;
    List<RoomService> roomServices = ViewBag.RoomService;
    List<RoomCriteria> roomCriterias = ViewBag.RoomCriteria;
    List<Service> services = ViewBag.Service;
    List<Criteria> criterias = ViewBag.Criteria;
}
<style>
    .swiper-slide img {
        width: 100%;
        height: 500px;
    }

    .text-view {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="content-area single-property" style="background-color: #FCFCFC;">
    &nbsp;
    <div class="container">
        <div class="clearfix padding-top-40">
            <div class="col-md-7 single-property-content prp-style-2">
                <div class="">
                    <div class="row">
                        <div class="light-slide-item">
                            <div class="clearfix">
                                <div class="favorite-and-print">
                                    <a class="add-to-fav" href="#login-modal" data-toggle="modal">
                                        <i class="fa fa-star-o"></i>
                                    </a>
                                </div>
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        @foreach(var item in imgList)
                                        {
                                            <div class="swiper-slide"><img src="@item.Image" alt="Image 1"></div>
                                        }

                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single-property-wrapper" style="margin-top:20px">
                        <div class="section additional-details">
                            <h4 class="s-property-title">Thông tin</h4>
                            <ul class="additional-details-list clearfix">
                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Địa chỉ</span>
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Model.Address</span>
                                </li>
                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Diện tích</span>
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Model.Acreage</span>
                                </li>
                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Giá phòng</span>
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Functions.ToVnd(Model.PriceRoom)<sup>đ</sup></span>
                                </li>
                                <li>
                                    <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Số người ở tối đa</span>
                                    <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Model.MaxPeople</span>
                                </li>
                            </ul>
                        </div>
                        <div class="section additional-details">
                            <h4 class="s-property-title">Chi tiết</h4>
                            <p>@Html.Raw(Model.Content)</p>
                        </div>                        
                    </div>
                </div>               
            </div>

            <div class="col-md-5 p0">
                <aside class="sidebar sidebar-property blog-asside-right property-style2">
                    <div class="dealer-widget">
                        <div class="dealer-content">
                            <div class="inner-wrapper">
                                <div class="single-property-header">
                                    <h3 class="">@Model.RoomName</h3>
                                    <span class="property-price">@Functions.ToVnd(Model.PriceRoom)<sup>đ</sup></span>
                                </div>
                                <div class="property-meta entry-meta clearfix ">
                                    <div class="s-property-content">
                                        <p>@Model.Abstract</p>
                                    </div>
                                </div>
                                <div class="dealer-section-space">
                                    <span>Thông tin chủ trọ</span>
                                </div>
                                <div class="clear">
                                    <div class="col-xs-3 col-sm-3 dealer-face">
                                        <a href="">
                                            <img src="@account.Avatar" class="img-circle">
                                        </a>
                                    </div>
                                    <div class="col-xs-9 col-sm-9 ">
                                        <h4 class="dealer-name">
                                            <a href="">@account.FullName</a><br />
                                            <span>@account.AccountName</span>
                                        </h4>
                                        <div class="dealer-social-media">
                                            <a class="twitter" target="_blank" href="">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="facebook" target="_blank" href="">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="gplus" target="_blank" href="">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="linkedin" target="_blank" href="">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                            <a class="instagram" target="_blank" href="">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="clear">
                                    <ul class="dealer-contacts">
                                        <li><i class="pe-7s-map-marker strong"> </i> @account.Address</li>
                                        <li><i class="pe-7s-mail strong"> </i> @account.Email</li>
                                        <li><i class="pe-7s-call strong"> </i> @account.Phone</li>
                                        <li><i class="pe-7s-call strong"> </i> @account.DOB.Value.ToString("dd/MM/yyyy")</li>
                                    </ul>                                    
                                </div>

                            </div>
                        </div>
                    </div>                 
                    <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                        <div class="panel-heading">
                            <h3 class="panel-title">Dịch vụ và Tiện ích trọ</h3>
                        </div>
                        <div class="panel-body search-widget">
                            <fieldset class="padding-5">
                                <div class="row">
                                    @if ((roomServices == null || !roomServices.Any()) && (roomCriterias == null || !roomCriterias.Any()))
                                    {
                                        <h4 class="text-center">Chưa cập nhật thông tin</h4>
                                    }
                                    else
                                    {
                                        <div class="col-xs-6">
                                            <h4 style="margin-left:20px">Tiện ích</h4>
                                            @foreach (var criteria in roomCriterias)
                                            {
                                                var name = criterias.FirstOrDefault(i => i.CriteriaId == criteria.CriteriaId);
                                                <div class="checkbox" style="margin-bottom: 10px">
                                                    <label>
                                                        <i class="fa fa-check" aria-hidden="true" style="color: #FFD700;font-size: 24px"></i> <span style="font-size:16px">@name.CriteriaName</span>
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                        <div class="col-xs-6">
                                            <h4 style="margin-left:20px">Dịch vụ</h4>
                                            @foreach (var service in roomServices)
                                            {
                                                var name = services.FirstOrDefault(i => i.ServiceId == service.ServiceId);
                                                <div class="checkbox" style="margin-bottom: 10px">
                                                    <label style="font:100px">
                                                        <i class="fa fa-check" aria-hidden="true" style="color: #FFD700;font-size: 24px"></i> <span style="font-size:16px">@name.ServiceName</span>
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
        <div class="similar-post-section padding-top-40">
            <div id="prop-smlr-slide_0">
                @foreach(var item in related)
                {
                    var sUrl = $"/phong-tro/{item.Alias}-{item.RoomId}.html";
                    <div class="box-two proerty-item">
                        <div class="item-thumb">
                            <a href="@sUrl"><img src="@item.Image" style="width:100% ;height:300px"></a>
                        </div>
                        <div class="item-entry overflow">
                            <h6 class="text-view"><a href="@sUrl">@item.RoomName</a></h6>
                            <div class="dot-hr"></div>
                            <span class="pull-left">
                                <b><i class="bi bi-arrows-move" style="font-size: 20px; color: #FDC600"></i> @item.Acreage m<sup>2</sup></b>
                            </span>
                            <span class="proerty-price pull-right">
                                <i class="bi bi-currency-dollar" style="font-size: 20px; color: #FDC600"></i> @item.PriceRoom<sup>đ</sup>
                            </span>
                            <div class="property-icon">
                                <span class="pull-left">
                                    <i class="bi bi-eye" style="font-size: 20px; color: #FDC600"></i><b> @item.ViewCount</b>
                                </span>
                                <span class="pull-right">
                                    <i class="bi bi-people" style="font-size: 20px; color: #FDC600"></i><b> @item.MaxPeople</b>
                                </span>
                            </div>
                        </div>
                    </div>
                }               
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 10,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
        });
    </script>
}